@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Questrial&display=swap');
@font-face {
    font-family: "WINGDNG3";
    src: url(../css/fonts/WINGDNG3.TTF);
  }
h1,h2,h3,h4,h5{
    font-family: 'Barlow Condensed', sans-serif
}
p{
    font-family: 'Fira Sans', sans-serif;  
}
.custom_header  .navbar-brand img{
    max-width: 185px;
}
header.custom_header{
	padding-top: 12px;
}
.header_wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.nav.nav-pills.dashboard_tabs,
.custom_header .navbar-expand-lg .navbar-nav{
    justify-content: space-between;
    width: 100%;
}
section.nevada_dashboard_tabs_section div#pills-tabContent{
    padding-top: 25px;
    padding-bottom: 48px;
}
.nevada_dashboard_tabs_section .container,.custom_container{
    max-width: 1080px;
    margin: auto;
    padding: 0px 15px;
 }
.dashboard_tabs.nav-pills .nav-item .nav-link,
.custom_header .nav-item .nav-link{
    background-color: #53565a;
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    padding: 15px 30px;
    width: 258px;
}
.custom_header .navbar-toggler:focus{
    outline: none;
    border: 0px;
    box-shadow: none;
}
.navbar-toggler-icon img{
    width: 30px;
}

button#generate_report {
    width: 417px;
}

@media (min-width:992px) {
    .custom_header  .navbar-brand{
        display: none;
    }
}
.dashboard_tabs.nav-pills .nav-item .nav-link.active,
.custom_header .nav-item .nav-link.active,
.custom_header .nav-item .nav-link:hover{
    background-color: #f1bf3f;
    color: #424242;
}
.nevada_economic_highlights .text_block h3{
    font-size: 45px;
    text-transform: uppercase;
    color: #0c436a;
    font-weight: 600;
    padding-bottom: 40px;
}
.right_nevada_economic h4 {
    font-size: 24px;
    color: #0c436a;
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
    padding-bottom: 20px;
}
.right_nevada_economic {
    padding-top: 70px;
    position: relative;
}
.economic_cards {
    background-color: #f5f5f5;
    padding: 15px;
    min-height: 298px;
}
.right_nevada_economic {
    padding-top: 70px;
}

.right_nevada_economic h4 {
    font-size: 24px;
    color: #0c436a;
    font-weight: 500;
    font-family: "Fira Sans";
}

.economic_cards {
    border: 1px solid transparent;
    background-color:#f5f5f5;
    padding: 15px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 347px;
    position: relative;
}
span.economic_type {
    display: block;
    font-size: 14px;
    line-height: 28px;
    color: #000000;
    font-weight: 600;
    font-family: "Fira Sans",sans-serif;
    padding: 10px 0px;
}

h5.economic_number {
    font-size: 59px;
    color: #1f5a7b;
    font-weight: 700;
    font-family: "Fira Sans",sans-serif;
    line-height: 58px;
    position: relative;
    z-index: 2;
}

span.economic_year {
    font-size: 12px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
    font-family: "Fira Sans",sans-serif;
    display: block;
    padding-bottom: 50px;
    position: relative;
    z-index: 2;
}
.bottom_details .arrow {
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}
.bottom_details .arrow.arrow_up img {
    transform: rotate(180deg);
}
.arrow span.dot_circle {
    height: 25px;
    width: 25px;
    background: #fff;
    border-radius: 50%;
    font-size: 0px;
}
.arrow span {
    font-size: 47px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    display: block;
    padding-bottom: 15px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
}
.nevada_dynamic_data_map{
    background-color:#0c436a;
    padding: 35px 0px;
    overflow: hidden;
}
.nevada_dynamic_data_map .text_block h4 {
    font-size: 24px;
    color: #ffcd00;
    font-weight: 500;
    font-family: "Fira Sans",sans-serif;
    padding-bottom: 25px;
}
.nevada_dynamic_data_map .text_block p,.nevada_dynamic_data_map .text_block p a {
    color: #ffffff;
}
.right_nevada_economic:before {
    position: absolute;
    left: -15px;
    content: '';
    border-left: 2px dashed #e2531f;
    top: 65px;
    bottom: -7px;
}
.custom_footer .custom_container p{
    font-family: 'Fira Sans', sans-serif;  
    padding: 15px;
    font-size: 12px;
    text-align: center;
    color: #000000;
    margin-bottom: 0px;
}
section.nevada_dashboard_tabs_section.pt-3.pb-5 {
    position: relative;
    z-index: 999;
}
.prior_list {
    opacity: 0;
    visibility: hidden;
    padding: 20px 25px 10px 25px;
    background: #95c3e1;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 100%;
    transition: 0.3s ease-in-out;
    margin: 0px -16px;
}
.prior_list.active,.economic_cards.active .prior_list{
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 999;
    border: 1px solid;
    border-top: 0px;
}
.prior_list ul {
    list-style: none;
    padding: 0px;
}

.prior_list ul li.label_unit {
    display: flex;
    justify-content: space-between;
    font-family: 'Fira Sans', sans-serif;  
    padding: 3px 5px;
}

.prior_list ul li.label_unit:nth-child(odd) {
    background: #b1d2e9;
}
.prior_click {
    cursor: pointer;
}
.prior_click p{
    padding-top: 5px;
    color: #000000;
}
.remove_list {
    font-size: 13px;
    width: 18px;
    height: 18px;
    background: #999999;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    line-height: normal;
    cursor: pointer;
    margin-left: auto;
    margin-bottom: 5px;
    font-family: 'Fira Sans',sans-serif;
    position: absolute;
    right: 4px;
}
.dynamic_data_map svg{
    width: 100%;
    height: 508px;
}
.name-text,.name-text polygon{
    fill: #fff !important;
}
.name-text + g polygon,.name-text + g + g path{
    fill: #fff !important;
}
.dynamic_data_map circle,.map-area circle {
    stroke: #9c9c9c;
}
.bottom_details {
    position: relative;
    z-index: 3;
}
.bottom_details + div {
    position: absolute !important;
    left: 0px;
    right: 0px;
    bottom: -11px;
    height: 230px !important;
    z-index: 1;
    overflow: hidden;
}
.bottom_details + div div:nth-child(1n),.bottom_details + div div:nth-child(2n) {
    height: 100% !important;
}
.bottom_details + div div:nth-child(1n) canvas.am5-layer-0 {
    height: 100% !important;
    width: 100% !important;
}
.bottom_details + div  canvas.am5-layer-30 {
    height: 200px !important;
}
.arrow span.dot_circle {
    margin-right: 10px;
}
.bottom_details .arrow img {
    margin-right: 10px;
}
.economic_cards.active {
    border: 1px solid;
}
.bottom_details:after {
    content: '';
    position: absolute;
    left: -15px;
    right: 0px;
    bottom: 0px;
    top: -39px;
    background: #95c3e10f;
    z-index: -1;
}
@media (min-width:767px) {
    .bottom_details + div div:nth-child(1n) canvas.am5-layer-0{
        width: 110% !important;
    }
}
@media (max-width:1200px) {
    .dashboard_tabs.nav-pills .nav-item .nav-link,
    .custom_header .nav-item .nav-link{
        font-size: 17px;
        padding: 10px 25px;
        width: auto;
    }
}

@media (max-width:992px) {
    .dashboard_tabs.nav-pills .nav-item .nav-link {
        font-size: 15px;
        padding: 10px;
    }
    .right_nevada_economic:before{
        display: none;
    }
}
@media (max-width:767px) {
    .row.nevada_economic_highlights p br {
        display: none;
    }
    .dashboard_tabs.nav-pills .nav-item {
       width: 100%;
       margin-bottom: 10px;
    }
    .dashboard_tabs.nav-pills .nav-item .nav-link{
        width: 100%;
    }
    .economic_cards{
        background-size: contain;
        margin-bottom: 20px;
        min-height: auto;
    }
    .bottom_details + div div:nth-child(1n) canvas.am5-layer-0 {
        width: 107% !important;
    }
    .home-inner .eco-dev-right .economy-table{
        border-bottom: 0px;
    }
   .home-inner .eco-dev-right h2{
        font-size: 15px;
    }
}